<div class="container">
  <div class="clr-row">
    <div class="clr-col-4"></div>
    <div class="clr-col-4">
      <div class="content-container">
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Имя:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.name}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Фамилия:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.surname}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Email:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.email}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Пароль:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              Сменить пароль...
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Возраст:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.age}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Вес:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.weight}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Рост:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.height}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Пол:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.gender}}
            </p>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <p class="user-property-name">
              Дата рождения:
            </p>
          </div>
          <div class="clr-col-6">
            <p class="user-property-value">
              {{userData.birthdate}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-4"></div>
  </div>
</div>
