.container {
  height: 100%;
}

.content-container {
  height: 100%;
}
.clr-col-4 {
  padding-top: 8%;
}

.user-property-value {
  font-weight: bold;
  color: black;
}

.user-property-name {
  text-align: right;
}

.user-property-value {
  text-align: left;
}

