<div class="container">
  <button class="btn btn-outline" (click)="isGoalCreateModalOpen = true">Создать цель</button>
  <div class="clr-row">
    <div class="clr-col-3" *ngFor="let _goal of goals">
      <a (click)="onCardClick(_goal)" class="card clickable">
        <div class="card-img">
          <img src="assets/pics/img_3.png">
        </div>
        <div class="card-block">
          <p class="card-text">
            {{_goal.name}}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isGoalCreateModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Новая цель</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <form clrForm clrLayout="vertical">
      <clr-input-container>
        <label class="property-name">Название</label>
        <input clrInput placeholder="Введите название цели" name="name" [(ngModel)]="goalData.name"/>
      </clr-input-container>
      <clr-textarea-container>
        <label class="property-name">Комментарий</label>
        <textarea clrTextarea [(ngModel)]="goalData.comment" name="text"></textarea>
      </clr-textarea-container>
      <div class="field-container">
        <label class="property-name">Дата завершения</label>
        <input type="date" class="date-input" pattern="yyyy-MM-dd" name="goalCompleted"
               [(ngModel)]="goalData.completed"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isGoalCreateModalOpen = false">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="onCreateGoalBtnClick()">Создать</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isGoalInfoModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Информация о цели</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <form clrForm clrLayout="vertical">
      <clr-input-container>
        <label class="property-name">Название</label>
        <input clrInput name="goalNameInfo" [(ngModel)]="goalData.name">
      </clr-input-container>
      <clr-textarea-container>
        <label class="property-name">Комментарий</label>
        <textarea clrTextarea [(ngModel)]="goalData.comment" name="goalCommentInfo"></textarea>
      </clr-textarea-container>
      <div class="field-container">
        <label class="property-name">Дата начала</label>
        <p class="immutable-date">{{goalData.started}}</p>
      </div>
      <div class="field-container">
        <label class="property-name">Дата завершения</label>
        <input type="date" class="date-input" pattern="yyyy-MM-dd" name="goalCompletedInfo"
               [(ngModel)]="goalData.completed"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isGoalInfoModalOpen = false">Закрыть</button>
    <button class="btn btn-danger" type="button" (click)="onDeleteButtonClick()">Удалить</button>
    <button class="btn btn-primary" type="button" (click)="onSaveChangesBtnClick()">Сохранить изменения</button>
  </div>
</clr-modal>
