.container {
  height: 100%;
  padding: 10px;
}

.property-name {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.date-input {
  width: 165px;
  background: transparent;
  border-width: 0 0 1px 0;
}

.field-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.immutable-date {
  margin: 0 !important;
  color: black;
}
