<div class="container">
  <button class="btn btn-outline" (click)="isModalOpen = true">Создать цель</button>
  <div class="clr-row">
    <div class="clr-col-lg-3 clr-col-3">
      <a (click)="onCardClick()" class="card clickable">
        <div class="card-img">
          <img src="assets/pics/img_3.png">
        </div>
        <div class="card-block">
          <p class="card-text">
            Пробежать 100000000000000000 км.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isModalOpen" [clrModalClosable]="false">
  <h3 class="modal-title">Новая цель</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <form clrForm clrLayout="vertical">
      <clr-input-container>
        <label class="goal-property-name">Название</label>
        <input clrInput placeholder="Введите название цели" name="name" [(ngModel)]="name"/>
      </clr-input-container>
      <clr-textarea-container>
        <label class="goal-property-name">Комментарий</label>
        <textarea clrTextarea [(ngModel)]="text" name="text"></textarea>
      </clr-textarea-container>
      <clr-date-container>
        <label class="goal-property-name">Дата начала</label>
        <input type="date" clrDate name="goalStarted" [(ngModel)]="goalStarted" />
      </clr-date-container>
      <clr-date-container>
        <label class="goal-property-name">Дата завершения</label>
        <input type="date" clrDate name="goalCompleted" [(ngModel)]="goalCompleted" />
      </clr-date-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isModalOpen = false">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="onCreateGoalBtnClick()">Создать</button>
  </div>
</clr-modal>

