<header class="header-5">
  <div class="branding">
    <a href="" class="nav-link">
      <cds-icon shape="logo"></cds-icon>
      <span class="title">Fitness Plan</span>
    </a>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-icon-text" routerLink="account">
      <cds-icon shape="user"></cds-icon>
      <span class="nav-text">Профиль</span>
    </a>
    <a class="nav-link nav-icon-text" routerLink="goals">
      <cds-icon shape="bolt"></cds-icon>
      <span class="nav-text">Цели</span>
    </a>
    <a class="nav-link nav-icon-text" routerLink="workouts">
      <cds-icon shape="run"></cds-icon>
      <span class="nav-text">Тренировка</span>
    </a>
    <a class="nav-link nav-icon-text" routerLink="exercises">
      <cds-icon shape="exercise"></cds-icon>
      <span class="nav-text">Упражнения</span>
    </a>
    <a class="nav-link nav-icon-text">
      <cds-icon shape="nutrition"></cds-icon>
      <span class="nav-text">Питание</span>
    </a>
  </div>
</header>
