
.nav-link {
  padding-left: 0 !important;
}

.nav-icon-text:hover {
  background: #247bae;
  color: yellow;
  transition-property: transform;
  transform: scale(1.1);
  transition-duration: 0.2s;
  cds-icon {
    color: cyan;
  }
}

