<div class="container" *ngIf="fitnessPlanList; else loading">
  <button class="btn btn-outline" (click)="onFitnessPlanCreateBtnClick()">Создать план</button>
  <div class="clr-row">
    <div class="card-columns-4" *ngFor="let _fitnessPlan of fitnessPlanList">
      <div class="card clickable" (click)="onCardClick(_fitnessPlan)">
        <div class="card-img">
          <img src="assets/pics/img_1.png" class="list-item-avatar">
        </div>
        <div class="card-block">
          <p class="card-text">
            {{_fitnessPlan.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div style="display: flex; align-items: center; justify-content: center; height: 100%">
    <span class="spinner"></span>
  </div>
</ng-template>
