<div class="container" *ngIf="nutritionList; else loading">
  <button class="btn btn-outline" (click)="onNutritionCreateBtnClick()">Создать позицию</button>
  <div class="clr-row">
    <div class="clr-col-3" *ngFor="let _nutrition of nutritionList">
      <a (click)="onCardClick(_nutrition)" class="card clickable">
        <div class="card-img">
          <img src="assets/pics/img_3.png">
        </div>
        <div class="card-block">
          <p class="card-text">
            {{_nutrition.name}}
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
<ng-template #loading>
  <div style="display: flex; align-items: center; justify-content: center; height: 100%">
    <span class="spinner"></span>
  </div>
</ng-template>

<clr-modal [(clrModalOpen)]="isNutritionCreateModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Новое питание</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <form clrForm clrLayout="vertical">
      <clr-input-container>
        <label class="property-name">Название</label>
        <input clrInput class="name-input" name="name" [(ngModel)]="nutrition.name"/>
      </clr-input-container>
      <clr-input-container>
        <label class="property-name">Прием пищи</label>
        <input clrInput [(ngModel)]="nutrition.type" name="nType">
      </clr-input-container>
      <clr-input-container>
        <label class="property-name">Количество белков</label>
        <input clrInput class="name-input" name="protein" [(ngModel)]="nutrition.protein"/>
      </clr-input-container>
      <clr-input-container>
        <label class="property-name">Количество жиров</label>
        <input clrInput class="name-input" name="fat" [(ngModel)]="nutrition.fat"/>
      </clr-input-container>
      <clr-input-container>
        <label class="property-name">Количество углеводов</label>
        <input clrInput class="name-input" name="carbohydrates" [(ngModel)]="nutrition.carbohydrates"/>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isNutritionCreateModalOpen = false">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="onNutritionCreateModalBtnClick()">Создать</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="isNutritionInfoModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Информация об упражнении</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <form clrForm clrLayout="vertical">
      <div>
        <label class="property-name">Название</label>
        <p>{{nutrition.name}}</p>
      </div>
      <div>
        <label class="property-name">Прием пищи</label>
        <p>{{nutrition.type}}</p>
      </div>
      <div>
        <label class="property-name">Количество белков</label>
        <p>{{nutrition.protein}}</p>
      </div>
      <div>
        <label class="property-name">Количество жиров</label>
        <p>{{nutrition.fat}}</p>
      </div>
      <div>
        <label class="property-name">Количество углеводов</label>
        <p>{{nutrition.carbohydrates}}</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isNutritionInfoModalOpen = false">Отмена</button>
    <button class="btn btn-danger" type="button" (click)="onNutritionDeleteModalBtnClick()">Удалить</button>
    <button class="btn btn-primary" type="button" (click)="onNutritionSaveModalBtnClick()">Сохранить изменения</button>
  </div>
</clr-modal>
