<div class="container" *ngIf="workoutData; else loading">
  <div class="clr-row">
    <div class="clr-col-4 avatar-col content-col">
      <div class="image-container">
        <img class="entity-avatar" [src]="getImage(workoutData.image)" alt="main-entity-avatar"
             *ngIf="workoutData.image; else noImage">
        <ng-template #noImage>
          <cds-icon shape="image" class="no-avatar-icon"></cds-icon>
        </ng-template>
      </div>
      <div class="entity-avatar-controls">
        <button class="btn btn-success-outline" style="width: 100%; margin-right: 0;"
                (click)="onNewAvatarLoadBtnClick()">Загрузить фотографию
        </button>
      </div>
    </div>
    <div class="clr-col-4 content-col" *ngIf="isWorkoutEditModeActivated; else info">
      <h1 class="entity-info-header">Тренировка</h1>
      <div class="entity-info-row">
        <label class="entity-info-label">Имя:</label>
        <input clrInput class="entity-info-input" [(ngModel)]="workoutData.name">
      </div>
      <div class="entity-info-row">
        <label class="entity-info-label">Комментарий:</label>
        <textarea clrTextarea class="entity-info-textarea" [(ngModel)]="workoutData.comment"></textarea>
      </div>
      <div class="entity-control-container">
        <button class="btn btn-outline" (click)="onWorkoutCancelBtnClick()">Отмена</button>
        <button class="btn btn-success" (click)="onExerciseAddBtnClick()">Добавить упражнения</button>
        <button class="btn btn-primary" (click)="onWorkoutCreateBtnClick()">Сохранить</button>
      </div>
    </div>
    <ng-template #info>
      <div class="clr-col-4 content-col">
        <h1 class="entity-info-header">Тренировка</h1>
        <div class="entity-info-row">
          <label class="entity-info-label">Имя:</label>
          <p class="entity-info-data">{{workoutData.name}}</p>
        </div>
        <div class="entity-info-row">
          <label class="entity-info-label">Комментарий:</label>
          <p class="entity-info-data">{{workoutData.comment}}</p>
        </div>
        <div class="entity-control-container">
          <button class="btn btn-danger" (click)="onWorkoutDeleteBtnClick()">Удалить</button>
          <button class="btn btn-primary" (click)="onWorkoutEditBtnClick()">Редактировать</button>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="clr-row sub-list">
    <div class="clr-col-2 list-col" *ngFor="let ex of workoutExercises">
      <div class="card clickable">
        <div class="card-img" (click)="onCardClick(ex)">
          <img src="assets/pics/img_1.png" class="sub-list-item-avatar">
        </div>
        <div class="card-block">
          <p class="card-text">
            {{ex.name}}
          </p>
        </div>
        <div class="card-footer" *ngIf="isWorkoutEditModeActivated">
          <button class="btn btn-sm btn-danger-outline" (click)="onExerciseDeleteBtnClick(ex)">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isExerciseInfoModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Информация об упражнении</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <form clrForm clrLayout="vertical" *ngIf="exercise">
      <div>
        <label class="property-name">Название</label>
        <div>{{exercise.name}}</div>
      </div>
      <div class="field-container">
        <label class="property-name">Число повторений</label>
        <div>{{exercise.reps}}</div>
      </div>
      <div class="field-container">
        <label class="property-name">Вес</label>
        <div>{{exercise.weight}}</div>
      </div>
      <div class="field-container">
        <label class="property-name">Число выполнений</label>
        <div>{{exercise.sets}}</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isExerciseInfoModalOpen = false">Закрыть</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isExerciseAddModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Добавить упражнения</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <div class="checkbox-container">
      <label>Выберите упражнения</label>
      <clr-checkbox-container>
        <clr-checkbox-wrapper *ngFor="let ex of formExercises">
          <input type="checkbox" clrCheckbox [(ngModel)]="ex.selected"/>
          <label>{{ex.value.name}}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isExerciseAddModalOpen = false">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="onExerciseAddModalBtnClick()">Добавить</button>
  </div>
</clr-modal>
<ng-template #loading>
  <div style="display: flex; align-items: center; justify-content: center; height: 100%">
    <span class="spinner"></span>
  </div>
</ng-template>
<clr-modal [(clrModalOpen)]="isNewAvatarLoadModalOpen" [clrModalClosable]="true">
  <h3 class="modal-title">Новая фотография</h3>
  <button aria-label="Close" class="close" type="button">
    <cds-icon shape="close"></cds-icon>
  </button>
  <div class="modal-body">
    <div class="image-list">
      <div class="clr-row">
        <div *ngFor="let image of imageNames">
          <div class="clr-col-2">
            <img [src]="getImage(image)" class="image-item" (click)="onImageSelectModalClick(image)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="isNewAvatarLoadModalOpen = false;">Отмена</button>
  </div>
</clr-modal>
