
.container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workout-logo {
  max-width: 100%;
  max-height: 100%;
}
.workout-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-name {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.workout-property-name {
  font-size: 20pt;
  font-family: Bahnschrift, serif;
  font-weight: bold;
  color: black;
}

.date-input {
  width: 165px;
  background: transparent;
  border-width: 0 0 1px 0;
}

.field-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.name-input {
  width: 210px;
}



.card {
  margin: 1rem 0 1rem 0;
}

.exercises-control-container {
  padding-left: 0.5em;
}



.modal-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.entity-avatar {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

clr-checkbox-container {
  margin-top: 5pt;
  height: 70pt;
  overflow: auto;
}

.clr-control-label {
  margin-left: 5pt;
}


