<div class="container" *ngIf="workouts; else loading">
  <button class="btn btn-outline" (click)="onWorkoutCreateBtnClick()">Создать тренировку</button>
  <div class="clr-row">
    <div class="card-columns-4" *ngFor="let workout of workouts">
      <div (click)="onCardClick(workout)" class="card clickable">
        <div class="card-img">
          <img [src]="getImage(workout.image)" class="list-item-avatar">
        </div>
        <div class="card-block">
          <p class="card-text">
            {{workout.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div style="display: flex; align-items: center; justify-content: center; height: 100%">
    <span class="spinner"></span>
  </div>
</ng-template>

